{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "jasmine","@typescript-eslint"],
  "extends": ["eslint:recommended"],
  "rules": {
    "prettier/prettier": 2,
    "no-use-before-define": ["error", { "functions": true, "classes": true }],
    "no-var": "error",
    "prefer-const": "error"
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "requireConfigFile": false
  },
  "env": {
    "node": true,
    "es6": true,
    "jasmine": true
  }
}
